*{
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--light-text-color-1);
}


:root{
  --dark-gray-1: hsl(218, 28%, 11%);
  --dark-gray-2: hsl(217, 30%, 10%);
  --dark-gray-3: hsl(217, 32%, 19%);
  --dark-gray-4: hsl(218, 28%, 15%);
  --dark-gray-5: hsl(218, 28%, 23%);
  ---dark-border-color: #11151c;
  ---dark-border-color-faded: hsla(218, 24%, 9%, 0.5);
  --big-border-width: 6px;

  --light-text-color-1: #eee;
  --hover-green: #34b223;
  --red: #ff3300;
}

body, html{
  margin: 0;
  height: 100%;
}

body{

  display: flex;
  flex-direction: column;
}

.court-section-title{
  text-align: center;
  font-size: 2.5rem;
  margin: 0;
}

.courts-wrapper{
  background-color: var(--dark-gray-1);
  border-bottom: var(--big-border-width) solid var(---dark-border-color);

  z-index: 2;

  padding-top: 10px;
}

.courts-body{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.court{

  background-color: var(--dark-gray-3);

  border-radius: 10px;
  min-width: fit-content;
  width: 280px;
  max-width: 280px;
  max-height: 280px;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.teams-playing-display{
  text-align: center;
}

.winner-buttons{
  display: flex;
  width: 100%;
  padding-inline: 20px;
  padding-bottom: 15px;
}

.winner-buttons button{
  background-color: var(--dark-gray-4);
  border-top: 2px solid var(---dark-border-color);
  border-bottom: 2px solid var(---dark-border-color);
  border-color: var(---dark-border-color);
  flex-grow: 1;
  height: 25px;
  cursor: pointer;
}

.team-win-1{
  border-left: var(---dark-border-color) 2px solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right: none;
}

.team-win-2{
  border-right: var(---dark-border-color) 2px solid;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-left:none;
}

.winning-team-btn{ 
  transition: background-color 250ms ease-in-out;
  background-color: #34b223 !important;
}

.losing-team-btn{
  transition: background-color 250ms ease-in-out;
  background-color: #ff3300 !important;
}

.not-active-team-btn{
  color: transparent;
  text-shadow: 0px 0px 5px white;
  cursor: not-allowed !important;
}

/* BENCHED TEAMS */
.benched-teams-container{
  position: relative;
  border-top: var(--big-border-width) solid var(---dark-border-color);
  background-color: var(--dark-gray-4);

  display: flex;
  flex-direction: column;
  gap: 10px;box-shadow: 0px -9px 5px -2px rgba(0,0,0,0.2);
}

.benched-teams-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.benched-teams-title{
  
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: var(--dark-gray-2);
  opacity: 0.75;
}

.benched-teams{
  display: flex;
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

.benched-team{
  background-color: var(--dark-gray-3);
  padding: 10px;
  border-radius: 10px;
}

.no-benched-teams-title{
  opacity: 0.7;
  color: var(--dark-gray-2);
  font-size: xx-large;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

/* CONTROL PANEL */
.bottom-section-content{
  height: 100%;
  min-height: 80vh;
  display: flex;
}

.control-panel{
  background-color: var(--dark-gray-2);
  border-right: var(--big-border-width) solid var(---dark-border-color);
  box-shadow: 0px 0px 10px black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 10px;
  padding-inline: 15px;

  width: 30%;
  max-width: 400px;
  height: 100%;
}

.program-inputs-container{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.control-panel-title{
  text-align: center;
}

.control-panel input[type="number"]{
  max-width: 80%;
  background-color: var(--dark-gray-3);
  border: none;
}

.control-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.control-buttons button{
  background-color: var(--dark-gray-3);
}

.start-button{
  height: 35px;
}

.next-round-button, .stop-button{
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  height: 0px;
  transition: opacity 250ms, height 350ms;
  cursor: pointer;
}

/*GRPAH*/
.graph-and-output{
  position: relative;
  width: 100%;
  height: 100%;
}

canvas{
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray-1);
}

.graph-node{
  position: absolute;
  width: 40px;
  height: 40px;

  background-color: var(--dark-gray-3);
  border-radius: 100px;
  border: 2px solid var(---dark-border-color);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* COURTS ERROR MESSAGE */
.not-all-games-entered-pop-up{

  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50vh;
  transform: translate(-50%, calc(-50% - 50px));
  z-index: 3;
  opacity: 0;
  transition: translate 250ms, opacity 250ms;
  width: 400px;
  padding: 10px;
  height: fit-content;
  border: 5px solid var(---dark-border-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--dark-gray-3);

}

.courts-error-title{
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.close-error-btn{
  background-color: var(--dark-gray-4);
  border: 3px solid var(---dark-border-color);
  width: 40%;
  height: 35px;
  border-radius: 5px;
  font-size: x-large;
  cursor: pointer;
  transition: transform 250ms;
}

.close-error-btn:hover{
  transform: scale(1.1);
}

.blanket{

  display: none;

  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

/* LEADERBOARD */
.leaderboard-container{
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% - 50px));
  z-index: 3;
  width: 30%;
  height: 40%;
  min-width: 300px;
  min-height: 450px;
  background-color: var(--dark-gray-3);
  align-items: center;
  border: 5px solid var(---dark-border-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  opacity: 0;
  transition: translate 250ms, opacity 250ms;
  overflow-y: auto;
}
.leaderboard-container::-webkit-scrollbar{
  background-color: var(--dark-gray-4);
}

.leaderboard-container::-webkit-scrollbar-thumb{
  background-color: var(--dark-gray-5);
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.leaderboard-title{
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pedestals{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-grow: 1;
}

.pedestal{
  display: flex;
  flex-direction: column;
}

.team{
  padding: 0px;
  margin: 0px;
  font-size: larger;
}

.silver-team{
  padding-top: 50%;
}

.bronze-team{
  padding-top: 100%;
}

.silver-block{
  background-color: silver;
  min-height: 30px;
}

.bronze-block{
  background-color: #B08D57;
  min-height: 20px;
}

.gold-block{
  background-color: gold;
  min-height: 40px;
}

.pedestal-block{
  width: 100%;
  flex-grow: 1;
}

.scores-title{
  text-align: center;
  margin: 5px;
  margin-top: 10px;
}

.scores-list{
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.score{
  margin: 0px;
  margin-inline: 10px;
}

.new-game-button{
  background-color: var(--dark-gray-4);
  border: 3px solid var(---dark-border-color);
  width: 40%;
  height: 35px;

  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;

  transition: transform 250ms;
  cursor: pointer;
}

.new-game-button:hover{
  transform: scale(1.05);
}